# Virtual environment
backend/.venv/
frontend/node_modules/
.env/

# OS files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/

# Build artifacts
dist/
*.zip

# Environment variables
*.env
